:root {
  --ceylon-sapphire: #21407A;
  --ceylon-ink: #081B30;
  --ceylon-blue: #00539A;
  --ceylon-cyan: #12B6D9;
  --ceylon-surface: #FFFFFF;
  --ceylon-darkSurface: #101E30;
  --ceylon-muted: #505A64;
}
